.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}

/** Page Nodes **/
.not-front #content h1.title,
.not-front #content h1 {
  font-family: 'PTSansBold', sans-serif;
  font-size: 36px;
  padding: 0 0 10px 0;
  margin: 0;
}

.not-front #content h2 {
  font-family: 'PTSansRegular', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.not-front #content h3 {
  font-family: 'PTSansItalic', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.not-front #content h4 {
  font-family: 'PTSansItalic', sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.not-front #content p {
  margin: 0 0 10px 0;
}