/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: transparent url(../images/bg.jpg) top left repeat;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 12px;
  text-shadow: 1px 1px 1px #EFEFEF;
}

.red,
.red:link,
.red:visited {
  color: #90281D;
}

.green,
.green:link,
.green:visited {
  color: #84B63F;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

.front #page {
  height: 100%;
}

#header {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 3px #AAAAAA;
  padding: 0;
}

#header ul {
  margin: 0;
  padding: 0;
}

.front #main {
  padding-top: 0;
  *background-color: #DCD5C3;
  background-color: rgba(220, 213, 195, .75);
  height: 100%;
  outline: 1px solid #B7B1A4;
  border-top: solid 1px #E1DBCD;
}

.breadcrumb ol li,
.breadcrumb ol li a {
  color: #3A93CC;
  font-size: 10px;
}

.not-front #content {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px #AAA, -1px -1px 2px #AAA;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

#footer-wrapper {
  border-top: solid 1px #B7B1A4;
}

#footer {
  border-top: solid 1px #E1DBCD !important;
}