/**
 * @file
 * Views Styling
 */
body.page-views #main #content {
  background-color: transparent;
}

.omp-grid {
}
.omp-grid:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .omp-grid             { zoom: 1; } /* IE6 */
*:first-child+html .omp-grid { zoom: 1; } /* IE7 */

.omp-grid .views-row {
  float: left;
  margin-left: 18px;
  width: 198px;
  height: 235px;
  background-color: #fff;
}
