<div id="om-show-live-page">
  <div id="om-embedded-content">
    {{ page_elements.embed }} 
  </div>
  {{ page_elements.live_buttons }}
  <div id="om-desc-content">
    {{ page_elements.description }}
  </div>
</div>
