<div id="page">
  {% render(page.left) %}
  <header id="header" role="banner">
    {% render(page.header) %}
  </header>
  <div id="main" class="center site-width">
    {% render(page.highlighted) %}
    {{breadcrumb}}
    <a id="main-content"></a>
    {% render(page.title_prefix) %}
    {% if title %}
      <h1 class="title" id="page-title">{{title}}</h1>
    {% endif %}
    {% render(page.title_suffix) %}
    {{messages}}
    {% render(tabs) %}
    {% render(help) %}
    {% if action_links %}
      <ul class="action-links">{% render(action_links) %}</ul>
    {% endif %}
    {% render(page.content) %}
    {{feed_icons}}
  </div><!-- /#main -->
  {% render(page.footer) %}
</div><!-- /#page -->
