.not-front #content h1.archive-title {
  clear: left;
  padding-top: 20px;
}

div#om-embedded-content {
  float: left;
  margin-right: 20px;
}

div#om-desc-content {
  float: left;
  width: 355px;
  background-color: #fff;
  padding: 10px;
}
.not-front div#om-desc-content {
  width: 620px;
}
h1.archive-title {
  clear: left;
  padding-top: 20px;
}
