.om-live-button-content {
  display: block;
  width: 270px;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
  text-transform: uppercase;
}

.om-live-button {
  margin-right: 15px;
  text-align: center;
  background-color: #DADBDD;
  font-size: 1.2em;
}

.stream-offline .om-live-button-content {
  color: #939598;
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #cccccc 0%, #f2f2f2 50%, #e5e5e5 51%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(50%,#f2f2f2), color-stop(51%,#e5e5e5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cccccc 0%,#f2f2f2 50%,#e5e5e5 51%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cccccc 0%,#f2f2f2 50%,#e5e5e5 51%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cccccc 0%,#f2f2f2 50%,#e5e5e5 51%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cccccc 0%,#f2f2f2 50%,#e5e5e5 51%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.stream-online a:link,
.stream-online a:visited {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .40);
  text-decoration: none;
  background: #005b7c; /* Old browsers */
  background: -moz-linear-gradient(top,  #005b7c 0%, #076c8c 49%, #055770 50%, #055770 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005b7c), color-stop(49%,#076c8c), color-stop(50%,#055770), color-stop(100%,#055770)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #005b7c 0%,#076c8c 49%,#055770 50%,#055770 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #005b7c 0%,#076c8c 49%,#055770 50%,#055770 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #005b7c 0%,#076c8c 49%,#055770 50%,#055770 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #005b7c 0%,#076c8c 49%,#055770 50%,#055770 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005b7c', endColorstr='#055770',GradientType=0 ); /* IE6-9 */
}

.stream-online a:focus,
.stream-online a:hover {
  background-image: none;
  background-color: #005b7c;
}