//stuff here

h1,
h2,
h3 {
  font-family: "proxima-nova-alt-condensed",sans-serif;
}

h1 {
  text-transform: uppercase;
}

body .pure-menu a {
  border: none;
}

.pure-table td,
.pure-table th {
  width: 100px;
}
