/**
 * This stylesheet is for irregular, non-paternistic css.
 * Feel free to break this sheet into smaller sheets like header or footer where it makes sense.
 */

#quicktabs-archive_tabs {
  clear: left; 
}
#om-agenda-manager-dummy-search .form-type-textfield {
  float: left;
}
#om-agenda-manager-dummy-search #edit-dummy-submit {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

#om-show-live-block {
  float: left;
  width: 400px;
}
#om-embedded-content {
  float: left;
  width: 575px;
}
.om-live-button {
  width: 75%;
  margin-bottom: 20px;
}
#om-show-live-page .pure-button {
  white-space: normal;
  cursor: default;
}

/** weird padding on show add form for date **/
.container-inline-date .date-padding {
  padding: 0;
}
#field-om-show-date-add-more-wrapper legend {
  display: none;
}

/** hiding input formats **/
a.ckeditor_links {
  display: none;
}
fieldset.filter-wrapper {
  display: none;
}
