/**
 * This stylesheet is for large scale, structural positioning of page elements.
 * There shoudl be no presentational code in here.
 */

#page {
  padding-left: 160px;
  padding-bottom: 100px;
  left: 0;
  position: relative;
}
div.iframe {
  padding-left: 0;
}

#main {
  padding: 20px;
}

.region-left {
  left: 160px;
  margin-left: -160px;
  width: 160px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #191818;
  overflow-y: auto;
}
.
