/**
 * This stylesheet is for CSS regarding menus.
 */
.region-left .pure-menu {
  border: none;
  background-color: #191818;
}
.region-left .pure-menu-header {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
  margin-top: 0;
  padding: 0.5em 0.8em;
  font-family: "proxima-nova-alt-condensed",sans-serif;
  text-transform: uppercase;
}
.region-left .pure-menu-header a {
  display: block;
}
.region-left .pure-menu li a {
  background-color: #191818;
  color: #999;
}

.region-left .pure-menu li a:hover, 
.region-left .pure-menu li a:focus {
  background-color: #333;
}

